<div class="user-view-box">
  <div class="update-content">
    <label for="room">予約した部屋</label>
  </div>
  <div class="update-content">
    <%= link_to @room.room_name, @room %>
  </div>
  <div class="update-content">
    <label for="reservation_start">開始日</label>
    <div>
      <%= @reservation.reservation_start %>
    </div>
  </div>
  <div class="update-content">
    <label for="room">終了日</label>
    <div>
      <%= @reservation.reservation_end %>
    </div>
  </div>
  <div class="update-content">
    <label for="room">価格</label>
    <div>
      <%= @reservation.reservation_price %>
    </div>
  </div>
</div>