<h1>Rooms#index</h1>

<h1>ルーム一覧</h1>

<div class="room-frame-inner">
  <% @rooms.each do |room| %>
    <div class="room-profile">
      <p class="room-profile-name">
      <%= room.room_name %>
      <p>
      <p class="room-profile-city">
      <%= room.room_address %>
      <p>
      <p class="room-profile-price">
      <%= room.room_price %>
      <p>
    </div>

    <div class="room-image-out">
      <%= image_tag room.room_image.url %>
    </div>
  <% end %>
</div>